@import url('https://fonts.googleapis.com/css2?family=Sixtyfour:BLED,SCAN@35,-4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #03001C;
    color: #B6EADA;
}

.header {
    width: 100%;
    height: auto;
    margin-bottom: 12%;
    
}

  .link {
    position: relative;
    transition: font-weight 0.5s;
  }
  .link:hover::after {
    width: 10px;
  }
  .link::after {
    content: '';
    background: #5B8FB9;
    width: 0px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 25px;
    display: inline-block;
    transition: 0.5s;
  }

  .highlight{
    background: -webkit-linear-gradient(225deg, #b6eada, #301E67);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .highlight-lower{
    background: -webkit-linear-gradient(91deg, #b6eada, #5B8FB9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about-link::after{
    content: "";
    background: #5B8FB9;
    height: 3px;
    width: 0px;
    transition: 0.5s;
    bottom: -5px;
    position: absolute;
    left:0px;
  }

  .about-link.active::after{
    width: 100%;
  }

  .tab-content {
    display: none;
  }
  .tab-content.active{
    display: block;
  }
  .grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
  }
  .grid-card div {
    background: #535252;
    padding: 40px;
    border-radius: 1%;
    min-height: 270px;
    transition: background-color 0.5s, transform 0.5s;
    height: 350px;
  }
  .grid-card div:hover{
    background:linear-gradient(170deg, #301E67, transparent);;
    transform: translateY(-10px);
  }

  .outer-highlight{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .outer-highlight img {
    border-radius: 10px;
    transition: transform 0.5s;
    height: 19rem;

  }
  .inner-highlight{
    position: absolute;
    width: 100%;
    height: 0;
    background: radial-gradient(#301e67, #03001c);
      /* background: #301E67; */
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
    text-align: center;
    transition: height 0.5s background-color 0.5s;
  	cursor: pointer;
  }

 .dots{display: flex; justify-content: center;align-items: center;}
 .dots label{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition-duration: 0.2s;
}
#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"]{
  transform: scale(2);
	background-color: #5B8FB9;
	box-shadow: 0px 0px 0px 3px #dddddd24;
}

.slider input{
  display: none;
}

.inner-slider{
display: flex;
align-items: center;
justify-content: center;
position: relative;
overflow: hidden;
perspective: 1000px;
gap: 15px;
min-height: 400px;
}

.inner-slider div {
  position: absolute;
  top: 0%;
  transition: transform 0.4s;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-1:checked ~ .dots label[for="t-3"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-1"]{
  transform: scale(1.5);
}

#t-2:checked ~ .inner-slider div[for="t-3"]{
  transform: translate3d(800px, 20px, -800px) rotateY(25deg);
  z-index: 2;
}
#t-1:checked ~ .inner-slider div[for="t-2"]{
  transform: translate3d(650px, 20px, -800px) rotateY(25deg);
  z-index: 2;
}
#t-3:checked ~ .inner-slider div[for="t-1"]{
  transform: translate3d(800px, 20px, -800px) rotateY(25deg);
  z-index: 2;
}

#t-2:checked ~ .inner-slider div[for="t-1"],
#t-3:checked ~ .inner-slider div[for="t-2"],
#t-1:checked ~ .inner-slider div[for="t-3"]
{
  transform: translate3d(-700px, 20px, -800px) rotateY(325deg);
  z-index: 3;
}

#t-1:checked ~ .inner-slider div[for="t-1"] .outer-highlight:hover .inner-highlight{
  height: 100%;
  z-index: 4;
}
#t-2:checked ~ .inner-slider div[for="t-2"] .outer-highlight:hover .inner-highlight{
  height: 100%;
  z-index: 4;
}
#t-3:checked ~ .inner-slider div[for="t-3"] .outer-highlight:hover .inner-highlight{
  height: 100%;
  z-index: 4;
}
#t-1:checked ~ .inner-slider div[for="t-1"] .outer-highlight:hover img {
  transform: scale(1.1);
 }
 #t-2:checked ~ .inner-slider div[for="t-2"] .outer-highlight:hover img {
  transform: scale(1.1);
 }
 #t-3:checked ~ .inner-slider div[for="t-3"] .outer-highlight:hover img {
  transform: scale(1.1);
 }
 .contact {
  width: 600px;
  height: 460px;
 }
 .change{
  transition: background-color 0.5s, color 0.6s ;
 }
 .change:hover{
  background-color: #301E67 !important;
  border-color: #301E67 !important;
  color: #B6EADA !important;
 }
 @media only screen and (max-width : 600px) {
  .link-ul {
    display: none;
  }
  
  
 }