@import url('https://fonts.googleapis.com/css2?family=Sixtyfour:BLED,SCAN@35,-4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #03001C;
    color: #B6EADA;
}

.header {
    width: 100%;
    height: auto;
    margin-bottom: 12%;
    
}

html {
  scroll-behavior: smooth;
}
/* Sub Header */
.sub-header {
    padding-left: 5rem/* 80px */;
    padding-right: 5rem/* 80px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
}
  nav{
    z-index: 20;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 7rem 0.5rem 0.5rem;
  }
  .link {
    position: relative;
    transition: font-weight 0.5s;
    background: -webkit-linear-gradient(91deg, #b6eada, #5B8FB9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: larger;
  }
  .link:hover::after {
    width: 10px;
  }
  .link::after {
    content: '';
    background: #5B8FB9;
    width: 0px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 25px;
    display: inline-block;
    transition: 0.5s;
  }

  .highlight{
    background: -webkit-linear-gradient(225deg, #b6eada, #301E67);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* Main Side Headers */
  .highlight-lower{
    background: -webkit-linear-gradient(91deg, #b6eada, #5B8FB9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0px;
  }

  .about-link::after{
    content: "";
    background: #5B8FB9;
    height: 3px;
    width: 0px;
    transition: 0.5s;
    bottom: -5px;
    position: absolute;
    left:0px;
  }

  .about-link.active::after{
    width: 100%;
  }

  .tab-content {
    display: none;
  }
  .tab-content.active{
    display: block;
  }
  .grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
  }
  .grid-card div {
    background: #535252;
    padding: 18px;
    border-radius: 1%;
    min-height: 300px;
    transition: background-color 0.5s, transform 0.5s;
    height: 100%;
    max-height: 500px;
  }
  .grid-card div:hover{
    background:linear-gradient(170deg, #301E67, transparent);;
    transform: translateY(-10px);
  }
  
  /* My Work  */
  .outer-highlight{
    position: relative;
    overflow: hidden;
    border-radius: 11px;
    max-width: 500px;
    width: 100%;
    min-width: 400px
  }
  .outer-highlight  img {
    border-radius: 10px;
    transition: transform 0.5s;
    padding:5px;
    height: 19rem;
  }
  .work-card{
    padding: 2.5rem;
    width: 33.333333%;
    margin-top: 1.25rem;
  }
  .inner-highlight{
    position: absolute;
    width: 100%;
    height: 0;
    background: radial-gradient(#301e67, #03001c);
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
    text-align: center;
  	cursor: pointer;
  }

 .dots{display: flex; justify-content: center;align-items: center;}
 .dots label{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition-duration: 0.2s;
}
#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"]{
  transform: scale(2);
	background-color: #5B8FB9;
	box-shadow: 0px 0px 0px 3px #dddddd24;
}

.slider input{
  display: none;
}

.inner-slider{
display: flex;
align-items: center;
justify-content: center;
position: relative;
overflow: hidden;
perspective: 1000px;
gap: 15px;
min-height: 400px;
width: 100%;
}

.inner-slider div {
  position: absolute;
  top: 0%;
  transition: transform 0.4s;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-1:checked ~ .dots label[for="t-3"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-1"]{
  transform: scale(1.5);
}

#t-2:checked ~ .inner-slider div[for="t-3"]{
  transform: translate3d(800px, 20px, -800px) rotateY(25deg);
  z-index: 2;
}
#t-1:checked ~ .inner-slider div[for="t-2"]{
  transform: translate3d(750px, 20px, -800px) rotateY(25deg);
  z-index: 2;
}
#t-3:checked ~ .inner-slider div[for="t-1"]{
  transform: translate3d(800px, 20px, -800px) rotateY(25deg);
  z-index: 2;
}

#t-2:checked ~ .inner-slider div[for="t-1"],
#t-3:checked ~ .inner-slider div[for="t-2"],
#t-1:checked ~ .inner-slider div[for="t-3"]
{
  transform: translate3d(-700px, 20px, -800px) rotateY(325deg);
  z-index: 3;
}

#t-1:checked ~ .inner-slider div[for="t-1"] .outer-highlight:hover .inner-highlight{
  height: 100%;
  z-index: 4;
}
#t-2:checked ~ .inner-slider div[for="t-2"] .outer-highlight:hover .inner-highlight{
  height: 100%;
  z-index: 4;
}
#t-3:checked ~ .inner-slider div[for="t-3"] .outer-highlight:hover .inner-highlight{
  height: 100%;
  z-index: 4;
}
#t-1:checked ~ .inner-slider div[for="t-1"] .outer-highlight:hover img {
  transform: scale(1.1);
 }
 #t-2:checked ~ .inner-slider div[for="t-2"] .outer-highlight:hover img {
  transform: scale(1.1);
 }
 #t-3:checked ~ .inner-slider div[for="t-3"] .outer-highlight:hover img {
  transform: scale(1.1);
 }

 .change{
  transition: background-color 0.5s, color 0.6s ;
 }
 .change:hover{
  background-color: #301E67 !important;
  border-color: #301E67 !important;
  color: #B6EADA !important;
 }
 #nav-icon1,#nav-icon2{
  display: none;
 }
 .grid-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
 }
 #msg{
  display: block;
  margin-top: -10px;
  color: #B6EADA;
 }
/* About me */
.text-section {
  height: 100%;
  min-height: 400px;
  max-height: 800px;
}
/* My work */
.img-link {
      border: 1px solid;
    border-radius: 31px;
    padding: 10px;
    background-color: #B6EADA !important;
    color: #301E67;
}
 /* //Experience */
 .experience-card{
  gap: 0.5rem;
 }
 .experience-side-header{
    font-weight: 500;
    margin-top: 0.20rem;
    margin-bottom: 0.20rem;
    font-size: 1.5rem;
    line-height: 2rem;
 }
 .experience-header {
  font-size: 1.8rem;
  line-height: 2rem ;
 }
 /* Contact */
 .contact {
  width: 100%;
  max-width: 600px;
  height: 460px;
  min-width: 360px;
  border-radius: 1.5rem;
  gap: 1.7rem;
  align-items: center;
  display: flex;
  margin: 0.75rem;
  padding: 2rem;
  flex-direction: column;
  min-height: 30rem;
 }

 

 @media only screen and (max-width : 800px) {
 
  .grid-card{
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  }
  .grid-content{
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr)) ; 
    grid-template-columns: none;
    justify-content: center;
   }
 }

 @media screen and (max-width : 900px) {
  /* Nav Bar Hamburger icon */
  #nav-icon2{
    display: block;
    position: fixed;
    right: 25px;
    z-index: 1;
    cursor: pointer;
  }
 
  .link-ul{
    position: fixed;
    display: block;
    height: 100vh;
    background: linear-gradient(97deg, #301e67, #07001c);
    top: 0px;
    right: -250px ;
    width: 250px !important;
    z-index: 3;
    transition: right 0.5s;

  }
  .link{
    display: block;
    margin-top: 20px;
    transition: none;
  }
  .link:hover::after {
    width: 100%;
  }
  .link::after {
    content: '';
    background: #5B8FB9;
    width: 0px;
    height: 2px;
    border-radius: 0px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 25px;
    display: inline-block;
    transition: 0.5s;
  }
  #nav-icon1{
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 4;
    cursor: pointer;
  }  
  .front-pic{
    display: flex;
    flex-direction: column;
  }   
  .about-me{
    display: flex;
    flex-direction: column-reverse;
  }
  .header{
    margin-bottom: 5%;
  }

  .link-ul{
    right: -250px;
  }

  .grid-content{
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
    grid-template-columns: none;
    justify-content: center;
   }
 }


 @media   (max-width : 1250px){
 /* //ABOUT ME  */
 .profile-img{
  margin-top: 13rem;
 }
 

   .about-me{
    display: flex;
    flex-direction: column-reverse;
  }

  #t-2:checked ~ .inner-slider div[for="t-3"]{
    transform: translate3d(800px, 20px, -800px) rotateY(25deg);
    z-index: 2;
    display: none;
  }
  #t-1:checked ~ .inner-slider div[for="t-2"]{
    transform: translate3d(650px, 20px, -800px) rotateY(25deg);
    z-index: 2;
    display: none;
  }
  #t-3:checked ~ .inner-slider div[for="t-1"]{
    transform: translate3d(800px, 20px, -800px) rotateY(25deg);
    z-index: 2;
    display: none;
  }
  
  #t-2:checked ~ .inner-slider div[for="t-1"],
  #t-3:checked ~ .inner-slider div[for="t-2"],
  #t-1:checked ~ .inner-slider div[for="t-3"]
  {
    transform: translate3d(-700px, 20px, -800px) rotateY(325deg);
    z-index: 3;
    display: none;
  }
  #t-1:checked ~ .inner-slider div[for="t-1"] .outer-highlight:hover .inner-highlight{
    height: 100%;
    z-index: 4;

  }
  #t-2:checked ~ .inner-slider div[for="t-2"] .outer-highlight:hover .inner-highlight{
    height: 100%;
    z-index: 4;

  }
  #t-3:checked ~ .inner-slider div[for="t-3"] .outer-highlight:hover .inner-highlight{
    height: 100%;
    z-index: 4;

  }
  .work-card{
    width: 55%;
    left: 20%;
  }

 }




 @media (min-width: 1250px) and (max-width : 1700px ) {
  /* //Experience */
  .experience-card{
    gap: 0.25rem;
    /* height: 400px !important; */
   }
  .experience-font{
    font-size: 14.2px;
    line-height: 1.4;
  }
  .experience-header{
    font-size: 1.2rem;
  }
  .experience-side-header{
    font-size: 20px;
  }
 } 
 @media (min-width: 1701px) and (max-width : 2000px ) {
  /* //Experience */
  .experience-card{
    gap: 0.25rem;
   }
  .experience-font{
    font-size: 17px;
    line-height: 1.4;
  }
  .experience-header{
    font-size: 1.5rem;
    line-height: 2rem
  }
  .experience-side-header{
    font-size: 20px;
  }
 } 

 @media (min-width: 1050px) and (max-width : 1250px ) {

  /* //Experience */
  .grid-card{
    grid-template-columns: repeat(2, 2fr);
  }
  .experience-card{
    gap: 0.25rem;
   }
  .experience-font{
    font-size: 16px;
    line-height: 1.4;
  }
  .experience-header{
    font-size: 1.5rem;
    line-height: 2rem
  }
  .experience-side-header{
    font-size: 20px;
  }
  
 }   
@media (min-width: 700px) and (max-width : 900px) {
  /* MY work */
  .inner-highlight span{
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .inner-highlight p {
    font-size: 14px;
  }
  /* About me */
  .profile-img {
    margin-top: 15rem;
  }
}
@media (min-width : 500px ) and (max-width : 700px) {

  /* Sub Header */
  .sub-header {
    padding-left: 1rem;
    padding-right:0px;
  }
  /* About Me  */
  .profile-img {
    margin-top: 16rem;
  }
  /* My Work */
  .grid-card {
    grid-template-columns: repeat(1, 1fr)
  }
  .work-card {
    left : 5% 
  }
 }

 @media (min-width: 800px) and (max-width : 1050px ) {
   /* //Experience */
   .grid-card{
    grid-template-columns: repeat(1, 1fr);
  }
  .experience-font{
    font-size: 17px;
  }
  .experience-header{
    font-size: 2rem;
  }
  .experience-side-header{
    font-size: 24px;
  }
 } 

 @media (min-width: 650px) and (max-width : 750px ) {
 

} 
@media (min-width: 500px) and (max-width : 650px ) {
  /* About me  */
  /* .profile-img{
    margin-top: 14rem;
  }   */
  /* //Experience */
  .experience-card{
    gap: 0.25rem;
    /* height: 480px !important; */
   }
 .experience-font{
   font-size: 18px;
 }
 .experience-header{
   font-size: 2rem;
 }
 .experience-side-header{
   font-size: 24px;
 }
} 
@media (min-width: 390px) and (max-width : 500px ) {

  /* Sub Header */
  .sub-header {
    padding-left: 1rem;
    padding-right:0px;
  }
    /* About me  */
    .profile-img{
      margin-top: 16.5rem;
    }  
    /* My work */ 
    .work-card {
      width: 55%;
      left: 0;
      padding: 1.5rem;
    }
    .outer-highlight{
      min-width: 350px;
    }
    .inner-highlight span{
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
    .inner-highlight p {
      font-size: 14px;
    }
  /* //Experience */
  .experience-card{
    gap: 0.25rem;
    /* height: 480px !important; */
   }
 .experience-font{
   font-size: 16px;
 }
 .experience-header{
   font-size: 1.5rem;
 }
 .experience-side-header{
   font-size: 24px;
 }
}

@media (min-width: 345px) and (max-width : 390px ) {

    /* Sub Header */
    .sub-header {
      padding-left: 1rem;
      padding-right:0px;
    }
   /* About me  */
   .profile-img{
    margin-top: 22rem;
  } 
  /* My work */
  .work-card {
    padding: 1.5rem;
    width: 55%;
    left: -25px;
  }
  .outer-highlight{
    min-width: 350px;
  }
  .inner-highlight span{
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .inner-highlight p {
    font-size: 14px;
  }
  /* //Experience */
  .experience-card{
    gap: 0.25rem;
    /* height: 500px !important; */
   }
 .experience-font{
   font-size: 15px;
 }
 .experience-header{
   font-size: 1.3rem;
 }
 .experience-side-header{
   font-size: 18px;
 }
}
@media (min-width: 300px) and (max-width : 345px ) {
     /* About me  */
     .profile-img{
      margin-top: 14rem;
    }
  /* //Experience */
  .experience-card{
    gap: 0.25rem;
    /* height: 470px !important; */
   }
 .experience-font{
   font-size: 14px;
 }
 .experience-header{
   font-size: 1.1rem;
 }
 .experience-side-header{
   font-size: 18px;
 }
}